@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --margin-small: 2rem;
  --margin-medium: 3rem;
  --gap-medium: 1.5rem;
  --gap-large: 2rem;
  --color-vanilla: #e8e1ad;
  --color-gray: #888;
  --bg-gray: #464344;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Google Sans", sans-serif;
  background: #000;
  color: #fff;
  padding-inline: 1.25rem;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 9.25rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

p,
ul,
ol,
span {
  font-size: 1rem;
  line-height: 1.5rem;
}

.gradient__text {
  background: linear-gradient(to right, #1d73f3 20%, #ff985e 91%);
  background-clip: text;
  color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vanilla__text {
  color: var(--color-vanilla);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.header__logo {
  font-size: 18px;
  display: flex;
  gap: 5px;
  margin-right: var(--margin-medium);
}

.header__google {
  font-weight: var(--fw-medium);
}

.header__google,
.header span {
  font-size: inherit;
}

.header__nav {
  display: flex;
  gap: var(--gap-medium);
}

.header__elem {
  position: relative;
  font-weight: var(--fw-bold);
}

.header__elem::after {
  position: absolute;
  content: "";
  background: #fff;
  height: 2px;
  left: 0;
  bottom: -5px;
  width: 0%;
  transition: width 0.3s ease-out;
}

.header__elem:hover::after {
  width: 100%;
}

.icon {
  font-size: 1.5rem !important;
  margin-left: auto;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.hero h1 span {
  font-size: inherit;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: var(--fw-medium);
  gap: 5px;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: 0.5px solid #fff;
  border-radius: 55px;
  background: transparent;
  transition:
    background 0.3s ease-out,
    border 0.3s ease-out;
}

.btn:hover {
  background: #fff;
  color: #000;
  border: 0.5px solid transparent;
}

.hero__nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 5rem;
}

.main__list {
  display: flex;
  gap: var(--gap-large);
  padding: 14px 32px;
  justify-content: center;
  background: var(--bg-gray);
  border-radius: 100px;
}

.ecosystem {
  text-align: center;
}

.main__title {
  font-size: 52px;
  margin-bottom: 54px;
}

.main__subtitle {
  font-size: 52px;
}

.main__elem {
  position: relative;
}

.main__elem::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #fff 50%, #1d73f3 100%);
  height: 2px;
  left: 0;
  bottom: -5px;
  width: 0%;
  transition: width 0.3s ease-out;
}

.main__elem:hover::after {
  width: 100%;
}

.main__updates {
  margin-top: var(--margin-small);
}
