@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fz-title: 3.5rem;
  --margin-small: 2rem;
  --margin-medium: 3rem;
  --gap-medium: 1.5rem;
  --gap-large: 2rem;
  --color-vanilla: #e8e1ad;
  --color-gray: #888;
  --bg-gray: #464344;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
  background: #000;
  color: #fff;
  padding-inline: 1.25rem;
  line-height: 1.5;
}

main {
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-block: 2rem;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 9.25rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.hero__span {
  background: linear-gradient(to right, #1d73f3 0%, #ff985e 50%, #1d73f3 100%);
  background-size: 200% auto;
  background-position: 0% center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: background-position 1s ease-out;
}

.hero__span-c {
  background-position: 100% center;
}

.vanilla__text {
  color: var(--color-vanilla);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* ========= */

.header {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  animation: fadeFromTop 1s;
}

.header__sphere {
  position: absolute;
  content: "";
  width: 1px;
  height: 1px;
  top: 0;
  right: 50%;
  border-radius: 50%;
  box-shadow: 0 0 600px 500px #fff;
  background: #fff;
  opacity: 35%;
  z-index: -1;
}

.header__logo {
  font-size: 18px;
  display: flex;
  gap: 5px;
  margin-right: var(--margin-medium);
}

.header__google {
  font-weight: var(--fw-medium);
}

.header__google,
.header span {
  font-size: inherit;
}

.header__nav {
  display: flex;
  gap: var(--gap-medium);
}

.header__elem {
  position: relative;
  font-weight: var(--fw-bold);
}

.header__elem::after {
  position: absolute;
  content: "";
  background: #fff;
  height: 2px;
  left: 0;
  bottom: -5px;
  width: 0%;
  transition: width 0.3s ease-out;
}

.header__elem:hover::after {
  width: 100%;
}

.header__elem.active::after {
  width: 100%;
}

.icon {
  font-size: 1.5rem !important;
  margin-left: auto;
  cursor: pointer;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 12rem;
}

.hero__container h1 {
  animation: fadeFromBottom 1s;
}

.hero__chat {
  margin-bottom: 2.5rem;
  animation: fade 1s;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: var(--fw-medium);
  gap: 5px;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: 0.5px solid #fff;
  border-radius: 55px;
  background: transparent;
  transition:
    background 0.3s ease-out,
    gap 0.3s ease-out,
    border 0.3s ease-out;
}

.btn:hover {
  background: #fff;
  color: #000;
  gap: 10px;
  border: 0.5px solid transparent;
}

.btn span {
  font-size: 1.25rem;
}

.hero__nav {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  align-self: flex-start;
  padding-top: 25px;
}

.main__list {
  display: flex;
  gap: var(--gap-large);
  padding: 14px 32px;
  justify-content: center;
  background: var(--bg-gray);
  border-radius: 100px;
  animation: fadeFromBottom 1s;
}

.main__elem {
  position: relative;
}

.main__elem::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #fff 50%, #1d73f3 100%);
  height: 2px;
  left: 0;
  bottom: -5px;
  width: 0%;
  transition: width 0.3s ease-out;
}

.main__elem:hover::after {
  width: 100%;
}

.main__elem.active::after {
  width: 100%;
}

.ecosystem {
  text-align: center;
}

.ecosystem__title {
  font-size: var(--fz-title);
  margin-bottom: var(--margin-medium);
}

.ecosystem__subtitle {
  font-size: var(--fz-title);
}

.ecosystem__updates {
  margin-top: var(--margin-small);
}

.ecosystem__span {
  background: linear-gradient(to right, #2a7af1 0%, #77a6ed 69%, #ffffff 100%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--fw-regular);
}

.era__container {
  text-align: center;
}

.era__title {
  font-size: 4.5rem;
}

.era__comment {
  font-size: 1.25rem;
  color: #909dac;
  max-width: 700px;
  margin-block: var(--margin-small);
}

.era__video {
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background: rgba(209, 209, 209, 0.5);
  border-radius: 24px;
}

.era__video svg {
  cursor: pointer;
  opacity: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  opacity: 0;
}

.fade__in-top {
  opacity: 0;
  transform: translateY(-30px);
}

[data-anim] {
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
  will-change: transform, opacity;
}

[data-anim].show {
  opacity: 1;
  transform: none;
}
